.calendario{
    float: left;
    margin-right: 10px;
    width: 20%;
    height: 40%;
}

table{
    border-collapse: collapse; /* combina los bordes de las celdas */

}

th, td{
    border: 1px solid black; /* borde solido en todas las celdas */
    padding: 5px; /* añade espaciado interno para un mejor aspecto */
    width: 20px; /* ancho de las celdas en 20px */
    height: 20px; /* altura de las celdas en 20px */
    text-align: center; 
}

.calendario-abajo {
    float: left;
    margin-top: 20px;
}




