.base-meses{

}

.calendario{
    float: left;
    margin-right: 20px;
}


.calendario table tr{
    height: 20px; /* para que sea la altura minima de las filas*/
}


td{
    text-align: center;    
}

h1{
    color: red;
}

p{
    color: red;
}