.calendario{
    float: left;
    margin-top: 20px;
    margin-right: 41px;
}

table{
    border-collapse: collapse; /* combina los bordes de las celdas */
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td{
    border: 1px solid black; /* borde solido en todas las celdas */
    padding: 5px; /* añade espaciado interno para un mejor aspecto */
    width: 20px; /* ancho de las celdas en 20px */
    height: 20px; /* altura de las celdas en 20px */
    text-align: center; 
}

th{
    color: white;
}

.azul{
    background-color: #132043;
}

.azul2{
    background-color: #1F4172;
}

.rosa-claro{
    background-color: #F1B4BB;
}

.rosa2{
    background-color: #FDF0F0;
}






