.rubik{
    display: flex; /* convierte div en contenedor flexible */
    justify-content: center; /* centra horizontalmente el contenido dentro del div */
    align-items: center; /* centra verticalmente el contenido dentro del div */
}

.tabla-rubik{
    border-collapse: collapse; /* combina los bordes de las celdas */
}
.tabla-rubik td{
    border: 3px solid #000; 
    width: 100px;
    height: 100px;
}

.frase-rubik {
    text-align: center;
    font-size: 35px;
    background-color: black;
    height: 20px !important; /* important para hacerlo más específico */
}


.amarillo{
    background-color: yellow;
}

.marron{
    background-color: rgb(77, 12, 12);
}

.verde{
    background-color: green;
}

.azul{
    background-color: blue;
}

.rojo{
    background-color: red;
}

.ventas{
    display: flex; /* convierte div en contenedor flexible */
    justify-content: center; /* centra horizontalmente el contenido dentro del div */
    align-items: center; /* centra verticalmente el contenido dentro del div */
    margin-bottom: 20px;
    text-align: center;
}

.ventas th{
    color: white;
    background-color: rgb(20, 135, 235);
}

.ventas td{
    background-color: rgb(201, 226, 247);
    text-align: center;
}

.detalle-anual{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%; /* ancho máximo del contenedor */

}
    
.detalle-anual table {
    width: 80%; /* ocupa todo el ancho disponible en el contenedor */
}





.negro{
    background-color: black;
    color: white;
}

.azul2{
    color: white;
    background-color: rgb(20, 135, 235);
}

.amarillo2{
    background-color: rgb(255, 234, 112);
}



