.rubik{
    display: flex; /* convierte div en contenedor flexible */
    justify-content: center; /* centra horizontalmente el contenido dentro del div */
    align-items: center; /* centra verticalmente el contenido dentro del div */
}

.tabla-rubik{
    border-collapse: collapse; /* combina los bordes de las celdas */
}
.tabla-rubik td{
    border: 3px solid #000; /* Borde sólido de 1 píxel en todas las celdas */
    width: 100px;
    height: 100px;
}

.frase-rubik {
    text-align: center;
    font-size: 35px;
    background-color: black;
    line-height: 30px; /* Aumenta la altura de línea */
}


.amarillo{
    background-color: yellow;
}

.marron{
    background-color: rgb(77, 12, 12);
}

.verde{
    background-color: green;
}

.azul{
    background-color: blue;
}

.rojo{
    background-color: red;
}

.ventas{
    display: flex; /* convierte div en contenedor flexible */
    justify-content: center; /* centra horizontalmente el contenido dentro del div */
    align-items: center; /* centra verticalmente el contenido dentro del div */
    margin-bottom: 20px;
    text-align: center;
}

.ventas th{
    color: white;
    background-color: rgb(20, 135, 235);
}

.ventas td{
    background-color: rgb(201, 226, 247);
    text-align: center;
}

